
*.dta
SVAR analysis/desktop.ini
aea.bst
datarefs.bib
motyostyle.sty
readme_empirical.tex
labor market data prep/checking.mat
labor market data prep/original.mat
*.asv
labor market data prep/SA_labor_iris_old.m
readme_empirical.synctex.gz
readme_empirical.out
readme_empirical.log
readme_empirical.blg
readme_empirical.bbl
readme_empirical.aux
modeling.bib
readme_combined.aux
readme_combined.bbl
readme_combined.blg
readme_combined.log
readme_combined.out
readme_combined.pdf
readme_combined.synctex.gz
readme_combined.tex
